@model IEnumerable<SPServiceHistoryViewModel>
@{
	ViewBag.PageTitle = "Service History";
	Layout = "_ServiceProviderLayout";
}
@section CustomCss
{
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/rg-1.1.4/datatables.min.css" />
<link rel="stylesheet" href="~/css/customerServiceHistory.css" asp-append-version="true">
}
<div class="position-fixed toastContainer bottom-0 end-0 p-3">
	<div class="toast align-items-center text-white border-0 fade" role="alert" aria-live="assertive"
		aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body py-3 px-4 fs-6"></div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
				aria-label="Close"></button>
		</div>
	</div>
</div>
<div class="modal fade px-3" id="serviceDetails" tabindex="-1" aria-labelledby="serviceDetailsLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered mx-auto">
		<div class="modal-content">
			<div class="modal-header pb-0 border-0">
				<h5 class="modal-title fs-3" id="serviceDetailsLabel">Service Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body row gy-0 gx-2"></div>
		</div>
	</div>
</div>
<div class="serviceHistoryTableContainer">
	<h2 class="tableHeader">
		Service History
		<img src="~/images/filter.png" class="sortingButton d-inline-block d-md-none ms-3" type="button" tabindex="0"
			data-bs-toggle="popover" data-bs-offset="0,15" data-bs-trigger="focus" data-bs-placement="bottom"
			data-bs-custom-class="sortingPopover" data-bs-html="true" data-bs-content="<label class='sortingRadioLabel form-check-label' for='dateDesc'>
							<input class='form-check-input box-shadow-none' checked type='radio' data-st-col='1' data-st-type='desc' name='sortingRadio' id='dateDesc' />
							Service Date: Latest
						</label>
						<label class='sortingRadioLabel form-check-label' for='dateAsc'>
							<input class='form-check-input box-shadow-none' type='radio' data-st-col='1' data-st-type='asc' name='sortingRadio' id='dateAsc' />
							Service Date: Oldest
						</label>
						<label class='sortingRadioLabel form-check-label' for='serviceIdAsc'>
							<input class='form-check-input box-shadow-none' type='radio' data-st-col='0' data-st-type='asc' name='sortingRadio' id='serviceIdAsc' />
							Service Id: Ascending
						</label>
						<label class='sortingRadioLabel form-check-label' for='serviceIdDesc'>
							<input class='form-check-input box-shadow-none' type='radio' data-st-col='0' data-st-type='desc' name='sortingRadio' id='serviceIdDesc' />
							Service Id: Decending
						</label>
						" />
	</h2>
	<table id="serviceHistoryTable">
		<thead>
			<tr>
				<th class="text-nowrap"><span class="d-inline-block">Service Id</span><span></span></th>
				<th class="text-nowrap"><span class="d-inline-block">Service Date</span><span></span></th>
				<th class="text-nowrap"><span class="d-inline-block">Customer Details</span><span></span></th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Any())
			{
				@foreach (var service in Model)
				{
					<tr>
						<td class="serviceId clickable" data-us-title="Service ID :" onclick='openDetailsModal(
							"@service.ServiceId",
							"@service.CustomerName",
							"@service.StreetName",
							"@service.HouseNumber",
							"@service.PostalCode",
							"@service.City",
							"@service.ServiceDate.ToString("dd/MM/yyyy").Replace("-","/")",
							"@service.ServiceDate.ToString("HH:mm")",
							"@service.ServiceDate.AddHours(@service.ServiceHours).ToString("HH:mm")",
							"@service.ServiceHours"
						)'>@service.ServiceId</td>
						<td class="clickable" data-us-title="Service Date :" onclick='openDetailsModal(
							"@service.ServiceId",
							"@service.CustomerName",
							"@service.StreetName",
							"@service.HouseNumber",
							"@service.PostalCode",
							"@service.City",
							"@service.ServiceDate.ToString("dd/MM/yyyy").Replace("-","/")",
							"@service.ServiceDate.ToString("HH:mm")",
							"@service.ServiceDate.AddHours(@service.ServiceHours).ToString("HH:mm")",
							"@service.ServiceHours"
						)'>
							<div class="tdHead d-flex align-items-center justify-content-start">
								<img src="~/images/calender.png">
								<h5>@service.ServiceDate.ToString("dd/MM/yyyy").Replace("-","/")</h5>
							</div>
							@{
								var st = service.ServiceDate.ToString("HH:mm");
								var et = service.ServiceDate.AddHours(service.ServiceHours).ToString("HH:mm");
							}
							<div class="timing d-flex align-items-center justify-content-start">
								<img src="~/images/clock.png">
								<div class="time text-nowrap">@st - @et</div>
							</div>
						</td>
						<td data-us-title="Customer Details :">
							<div class="custName text-md-nowrap text-sm-wrap">@service.CustomerName</div>
							<div
						class="custAddress d-flex text-md-nowrap text-sm-wrap align-items-center justify-content-start">
								<img src="~/images/addressIcon.png">
								@service.StreetName @service.HouseNumber,@service.PostalCode @service.City
							</div>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
@section CustomScripts{
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/rg-1.1.4/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="~/js/spServiceHistory.js" asp-append-version="true"></script>
}